
<link href="css/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

<div >
	{{message}}
	<div ng-repeat="uMessage in messages">
		{{uMessage.id}}
	</div>




<table st-table="rowCollection" class="table table-striped">
		<thead>
		<tr>
			<th st-sort="Subjects">Subjects</th>
			<th st-sort="Sender">Sender</th>
			<th st-sort="Date">Date</th>
			<th>view</th>
			<th>reply</th>
		</tr>
		<tr>
			<th>
				<input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
			</th>
			<th colspan="4">
				<input st-search placeholder="global search" class="input-sm form-control" type="search"/>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in rowCollection">
			<td>{{row.subject | uppercase}}</td>
			<td>{{row.user_id}}</td>
			<td>{{row.created_at | date}}</td>
			<!-- <td><a ng-href=#>View</a></td> -->
			<td>
				<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#model{{row.id}}">View</button>
				<!-- Modal -->
				<div class="modal fade" id="model{{row.id}}" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h4 class="modal-title">View Message Body</h4>
							</div>
							<div class="modal-body">
								<div class="modal-body">
									<label rows="40">{{row.message_body}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>

			</td>
			<td><a ng-href="mailto:{{row.email}}">reply</a></td>
		</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5" class="text-center">
					<div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
				</td>
			</tr>
		</tfoot>
	</table>



	
  
</div>





</div>
		
	
