<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Signup Page</title>

    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/main.js" type="text/javascript"></script>

</head>
<body>	
	<form role="form" method="post" action="#">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
	    			<input type="text" name="first_name" id="first_name" class="form-control input-sm" placeholder="First Name">
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="text" name="last_name" id="last_name" class="form-control input-sm" placeholder="Last Name">
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="text" name="username" id="username" class="form-control input-sm" placeholder="Username">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password">
				</div>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6">
				<div class="form-group">
					<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password">
				</div>
			</div>
		</div>
		<input type="button" name="login" value="Login" id="signup" class="btn btn-info btn-block">
		<!-- <input type="submit" value="Register" id="signup" class="btn btn-info btn-block"> -->
	</form>
</body>
</html>
