<script src="jquery.js" type="text/javascript"></script>
<script>

var passwordChecker = function(str){
		if (str.length < 8){

			$('input[type="text"],input[type="password"]').css("border","2px solid red");
			alert('password too short');

			return false;
		}else if(str.search(/\d/) == -1){

			$('input[type="text"],input[type="password"]').css("border","2px solid red");
			alert('please include a digit in password');
			return false;

		}else if(str.search(/[A-Z]/) == -1){
			$('input[type="text"],input[type="password"]').css("border","2px solid red");
			alert('please include a UpperCase Letter in password');
			return false;

		}else if(str.search(/[a-zA-Z]/) == -1){
			$('input[type="text"],input[type="password"]').css("border","2px solid red");
			alert('please include a  Letter in password');
			return false;
		}else{
			return true;
		}
	}

alert(passwordChecker('123'));
alert("hry");
</script>